# Environments & Secrets
.env
.env.local
.env.*.local
.localstack/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
.terraform.lock.hcl
*.plan
*plan*


# IDEs & System
.idea/
.vscode/
.DS_Store
Thumbs.db
.agyrules
